<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                NLP with Aylien
            </div>
            <div class="">
                Type something or enter URL
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Results:</strong>
                <div id="polarity">result will be here</div>
                <div id="subjectivity">result will be here</div>
                <div id="polarity_confidence">result will be here</div>
                <div id="subjectvity_confidence">result will be here</div>
                <div id="text">result will be here</div>
            </section>
        </main>

        <footer>
            <p>Thank you for using our NLP services!</p>
        </footer>

    </body>
</html>
