<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Natural language processing (NLP) with Aylien News API</h1>
            </div>
            <div class="">
                <p>Enter the URL of the blog article you'd like to analyse and click Submit:</p>
            </div>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="type URL here">
                    <input id="button" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <section>
                <h2>Results:</h2>
                <table>
                    <tr>
                        <td class="result">Polarity</td>
                        <td id="polarity"></td>
                    </tr>
                    <tr>
                        <td class="result">Polarity confidence</td>
                        <td id="polarity_confidence"></td>
                    </tr>
                    <tr>
                        <td class="result">Subjectivity</td>
                        <td id="subjectivity"></td>
                    </tr>
                    <tr>
                        <td class="result">Subjectvity confidence</td>
                        <td id="subjectivity_confidence"></td>
                    </tr>
                    <tr>
                        <td class="result">Analysed content</td>
                        <td id="text"></td>
                    </tr>
                </table>
            </section>
        </main>

        <footer>
            <p>Thank you for using our NLP services!</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
